//将此样式放在了.html里了
// *{
//     padding: 0;
//     margin: 0;
// }

body,html,#app{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

// $Brand: #409EFF;

#app{
    background: #e2e2e2;
    font-size: 14px;
    color: #404040;
}
